# Exerc√≠cio

In [107]:
m1 = 'CCcCCccCCCccCcCccCcCcCCCcCCcccCCcCcCcCcccCCcCcccCc'
m2 = 'CCCCCccCccCcCCCCccCccccCccCccCCcCccCcCcCCcCccCccCc'
m3 = 'CccCCccCcCCCCCCCCCCcccCccCCCCCCccCCCcccCCCcCCcccCC'
m4 = 'cCCccCCccCCccCCccccCcCcCcCcCcCcCCCCccccCCCcCCcCCCC'
m5 = 'CCCcCcCcCcCCCcCCcCcCCccCcCCcccCccCCcCcCcCcCcccccCc'

## Sendo m1 a m5 moedas, 'C' o resultado Coroa e 'c' o resultado 'Cara', crie o DataFrame proposto

## 1) Primeira maneira:

In [108]:
import pandas as pd

In [100]:
eventos = {'m1': list(m1), 'm2': list(m2), 'm3': list(m3), 'm4': list(m4), 'm5': list(m5)}

In [101]:
df1 = pd.DataFrame(eventos)

In [102]:
df1

   m1 m2 m3 m4 m5
0   C  C  C  c  C
1   C  C  c  C  C
2   c  C  c  C  C
3   C  C  C  c  c
4   C  C  C  c  C
5   c  c  c  C  c
6   c  c  c  C  C
7   C  C  C  c  c
8   C  c  c  c  C
9   C  c  C  C  c
10  c  C  C  C  C
11  c  c  C  c  C
12  C  C  C  c  C
13  c  C  C  C  c
14  C  C  C  C  C
15  c  C  C  c  C
16  c  c  C  c  c
17  C  c  C  c  C
18  c  C  C  c  c
19  C  c  c  C  C
20  c  c  c  c  C
21  C  c  c  C  c
22  C  c  C  c  c
23  C  C  c  C  C
24  c  c  c  c  c
25  C  c  C  C  C
26  C  C  C  c  C
27  c  c  C  C  c
28  c  c  C  c  c
29  c  C  C  C  c
30  C  C  C  c  C
31  C  c  c  C  c
32  c  C  c  C  c
33  C  c  C  C  C
34  c  c  C  C  C
35  C  C  C  c  c
36  c  c  c  c  C
37  C  C  c  c  c
38  c  c  c  c  C
39  c  C  C  C  c
40  c  C  C  C  C
41  C  c  C  C  c
42  C  C  c  c  C
43  c  c  C  C  c
44  C  c  C  C  c
45  c  C  c  c  c
46  c  c  c  C  c
47  c  c  c  C  c
48  C  C  C  C  C
49  c  c  C  C  c

In [58]:
frequencia_m1 = df1['m1'].value_counts()

In [59]:
frequencia_m1

C    25
c    25
Name: m1, dtype: int64

In [78]:
frequencia_m1['C']

25

In [60]:
frequencia_m2 = df1['m2'].value_counts()

In [61]:
frequencia_m3 = df1['m3'].value_counts()

In [94]:
frequencia_m4 = df1['m4'].value_counts()

In [103]:
frequencia_m5 = df1['m5'].value_counts()

In [90]:
type(frequencia_m1['c'])

numpy.int64

In [104]:
data={
    'Faces': {'C': 'Coroa', 'c': 'Cara'},
    'm1': {'C': frequencia_m1['C'], 'c': frequencia_m1['c']},
    'm2': {'C': frequencia_m2['C'], 'c': frequencia_m2['c']},
    'm3': {'C': frequencia_m3['C'], 'c': frequencia_m3['c']},
    'm4': {'C': frequencia_m4['C'], 'c': frequencia_m4['c']},
    'm5': {'C': frequencia_m5['C'], 'c': frequencia_m5['c']}
}

In [105]:
moedas = pd.DataFrame(data)
moedas

   Faces  m1  m2  m3  m4  m5
C  Coroa  25  24  31  27  25
c   Cara  25  26  19  23  25

## 2) Segunda maneira:

In [96]:
m1 = 'CCcCCccCCCccCcCccCcCcCCCcCCcccCCcCcCcCcccCCcCcccCc'
m2 = 'CCCCCccCccCcCCCCccCccccCccCccCCcCccCcCcCCcCccCccCc'
m3 = 'CccCCccCcCCCCCCCCCCcccCccCCCCCCccCCCcccCCCcCCcccCC'
m4 = 'cCCccCCccCCccCCccccCcCcCcCcCcCcCCCCccccCCCcCCcCCCC'
m5 = 'CCCcCcCcCcCCCcCCcCcCCccCcCCcccCccCCcCcCcCcCcccccCc'

In [97]:
eventos = {'m1': list(m1), 
            'm2': list(m2), 
            'm3': list(m3), 
            'm4': list(m4), 
            'm5': list(m5)}
moedas = pd.DataFrame(eventos)
df = pd.DataFrame(data = ['Cara', 'Coroa'], 
                    index = ['c', 'C'], 
                    columns = ['Faces'])
for item in moedas:
    df = pd.concat([df, moedas[item].value_counts()], 
                    axis = 1)
df

   Faces  m1  m2  m3  m4  m5
c   Cara  25  26  19  23  25
C  Coroa  25  24  31  27  25